.richtext {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 14px;
  font-size: 26px;
  line-height: 1.4;
  position: sticky;
  top: 0;
}


@media only screen and (max-width: 600px) {
  .richtext{
    font-size: 22px;
  }
}