.embed{
  max-width: 900px;
  margin: auto;
  padding: 0 14px;
  // box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 100px;
  iframe{
    width:100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
}