.embed {
  width: 100%;
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  padding: 0 14px;
  // box-sizing: border-box;
  // margin-bottom: 100px;
  // padding-top: 100px;
  position: relative;
  box-sizing: border-box;

  iframe {
    width: calc(100% - 28px);
    height: 100%;
    aspect-ratio: 16/9;
    position: absolute;
    z-index: 2;
  }

  @media only screen and (max-width: 900px) {
    height: 500px;
  }
}