@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

$green: #56AF35;
$white: #ffffff;
$black: #000000;
$pink: #E3A5FF;
$blue: #1750AC;

@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: .33s;
}

::view-transition-old(root) {
  animation: .33s ease-in both leave;
}

::view-transition-new(root) {
  animation: .33s ease-in both enter;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*) {
    animation-duration: 0s;
  }
}

html,body{
  margin: 0;
  padding: 0;
  background-color: $green;
  // background: linear-gradient(0deg, $green 0%, #ffffff 80%);
    background: linear-gradient(
    to bottom,
    #ffffff 0%,    
    #ffffff 120vh,  
    $green 100%  
  );
  scroll-behavior: smooth;
  font-weight: 300;
}

body{
  font-family: "mundial", sans-serif;
  font-optical-sizing: auto;
}

h1, h2{
  font-family: "articulat-cf", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*:focus{
   outline: none;
}

nav{
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: $pink;
  border-radius: 25px;
  padding: 5px 0;
  left: 50%;
  transform: translateX(-50%);
  top: 14px;
  a{
    margin: 0 24px;
    font-size: 22px;
    text-decoration: none;
    color: $black;
    white-space: nowrap;
    padding: 5px 20px 8px 20px;
    border-radius: 25px;
    line-height: 1;
    &:first-child{
      margin-left: 5px;
    }
    &:last-child{
      margin-right: 5px;
    }
    &.active{
      background: white;
    }
  }
}

.home, .project-page{
    animation: fadeIn 0.6s ease-in forwards; 
}

.logo{
  position: absolute;
  z-index: 9;
  width: 40vw;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.project-page  {
    .label{
      position: fixed;
      background-color: $blue;
      color: white;
      padding: 0px 10px 5px 10px;
      border-radius: 25px;
      margin: 24px;
      z-index: 999;
    }
    h1{
    position: absolute;
    z-index: 9;
    color: $white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 5vw;
    line-height: 1;
    text-align: center;
    padding-bottom: 2vw;
  }
}

.project-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
  box-sizing: border-box;
  margin-bottom: 100px;
  a{
    width: 100px;
  }
}



.projects {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10vh;
  margin-top: 30vh;
  a{
    text-decoration: none;
    color: $black
  }

  .imgContainer {
    height: 100%;
    width: 27%;
    z-index: 9;
    box-shadow: 0px 0px 20px 1px #00000078;
    transform-origin: center;
    margin: 0 2vw 2vw 2vw;
    background-color: $white;
    // &:nth-child(2){
    //   margin-top: -20vh;
    // }
    // &:nth-child(3n){
    //   margin-top: 20vh;
    // }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
    }
    .title{
      display: flex;
      justify-content: space-between;
    }
    .year{
      padding: 10px;
    }
    .label{
      position: absolute;
      background-color: $blue;
      color: white;
      padding: 0px 10px 5px 10px;
      border-radius: 25px;
      margin: 10px;
    }
    h1{
      padding: 0 14px;
      font-weight: 500;
      font-size: 26px;
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  background-color: white;
  width: fit-content;
  margin: auto;
  padding: 2px 10px 5px 10px;
  border-radius: 24px;
  z-index: 999;

  &.sticky {
    position: sticky;
    top: 70px;
  }

  .filter {
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;

    &.active {
      font-weight: 600;
    }
  }
}

.empty-hero{
  width: 100vw;
  height: 100vh;
  h1{
    color: black;
    // position: relative;
    // padding-top: 50%;
  }
  // background: linear-gradient(180deg, $green 0%, rgb(205,232,195)	 100%);
}


footer{
  color: white;
  padding: 24px;
  display: flex;
  align-items: center;
  .footer-logo{
    width: 80px;
    height: auto;
    position: fixed;
    bottom: 14px;
    right: 14px;
  }
  .columns{
    display: flex;
    width: fit-content;
    margin: 0 auto 0 auto;
    .column{
      margin: 0 48px;
      font-weight: 300;
      font-size: 20px;
    }
  }
}




//mobile

@media only screen and (max-width: 600px) {
  nav{
    a{
      font-size: 18px;
      margin: 0 14px;
    }
  }
  .logo{
    min-width: 80%;
  }
  .projects{
    .imgContainer{
      width: 90%;
      margin-bottom: 48px;
        &:nth-child(2n){
        margin-top: 0;
      }
      &:nth-child(3n){
        margin-top: 0;
      }
    }
  }
  .project-page h1{
    font-size: 48px;
    width: 100%;
  }
  .filters.sticky{
    top: 65px;
  }
  footer{
    // flex-direction: column;
    // align-items: flex-start;
    .columns{
      flex-direction: column;
    }
  }
}