.slider {
  position: relative;

  .slide {
    position: relative;
    width: 100%;
    height: 100vh; // Full viewport height slider

    .image,
    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.prevArrow {
  position: absolute;
  left: 24px;
  top: 45%;
  width: 8vw;
  height: auto;
  object-fit: contain;
  z-index: 9;
}

.nextArrow {
  position: absolute;
  right: 24px;
  top: 45%;
  width: 8vw;
  height: auto;
  object-fit: contain;
  z-index: 9;
}

@media only screen and (max-width: 900px) {

  .prevArrow,
  .nextArrow {
    width: 70px;
    top: 50%;
  }

  .prevArrow {
    left: 14px;
  }

  .nextArrow {
    right: 14px;
  }
}